<template>
  <div class="body">
    <ul id="example-1">
      <li v-for="item in totalVuePackages" :key="item.title">
        {{ item.title }}
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {

  name: "get-request",
  data() {
    return {
      totalVuePackages: []
    };
  },
  created() {
    axios.get("http://localhost:3000/animes")
    .then((response) => {
        console.log(response.data);
        this.totalVuePackages = response.data;
    })
    .catch((error) => {
        console.log(error)
    })
  }
};
</script>