<template>
  <div class="layout">
    <NavBar />
    <div class="container">
      <h1 class="header">Dashboard List</h1>
      <!-- first row -->
      <div class="row">
          <div class="col-md-6">
            <router-link to="/PostDashboard">
              <div class="block">
                <h3>News List</h3>
              </div>
            </router-link>  
          </div>
          <div class="col-md-6">
            <router-link to="/BookDashboard">
              <div class="block">
                <h3>Books List</h3>
              </div>
            </router-link>  
          </div>
      </div>
      <!-- first row -->
      <!-- second row -->
         <div class="row">
          <div class="col-md-6">
            <router-link to="/SlideDashboard">
              <div class="block">
                <h3>Slides List</h3>
              </div>
            </router-link>  
          </div>
          <div class="col-md-6">
            <router-link to="/ArtistDashboard">
              <div class="block">
                <h3>Artists List</h3>
              </div>
            </router-link>  
          </div>
      </div>
      <!-- second row -->
    </div>  
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script scoped>
import NavBar from "./NavBar";
import Footer from "./Footer";

export default {
  name: "DashboardList",
  components: {
    NavBar,
    Footer,
  },
};
</script>

<style scoped>
h1, h3 {
  margin-bottom: 0;
}

.row{
    text-align: center;
}

.col-md-6 {
  padding:8px;
}

.block {
  border: 1px solid deepskyblue;
}

.footerPosition {
    width: 100%;
    height:100px;
    position: absolute;  
    bottom:0px;
    left:0px;
}

</style>

