<template>
  <footer class="footer">
    <!-- link Grid container -->
    <div class="container">
      <!-- link Grid row-->
      <div class="row">
        <!-- link Grid column-->
        <!-- full size max 6 col, mid 2 col min 1 col -->
        <b-navbar-nav class="col-12 col-lg col-md-6 col-sm-12">
          <b-nav-item href="http://trysail.jp">TrySail JP </b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="col-12 col-lg col-md-6 col-sm-12">
          <b-nav-item href="https://twitter.com/trysail_staff">TrySail Twitter</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="col-12 col-lg col-md-6 col-sm-12">
          <b-nav-item href="https://www.youtube.com/channel/UCuI2in6tTAjsaqzdeOeWZkQ">Youtube Channel</b-nav-item>
        </b-navbar-nav>
        <b-navbar-nav class="col-12 col-lg col-md-6 col-sm-12">
          <b-nav-item router-link to="ContactUs">ContactUs</b-nav-item>
        </b-navbar-nav>
        <!-- link Grid column -->
      </div>
      <!-- link Grid row-->
    </div>
    <!-- link Grid container -->

    <!-- Copyright -->
    <div class="copyRight">
      © 2021 Copyright
    </div>
    <!-- Copyright -->
    <router-view />
  </footer>
  <!-- Footer -->
</template>

<style>
.footer {
  min-height: 100px;
  background-color: #333;
  text-align: center;
}
.nav-link {
    color: #ffffff;
}
.copyRight {
  text-align: center;
  color: #ffffff
}
</style>