<template>
  <!-- slide -->
  
  <div class="slideLayout" >
      <vueper-slides 
      lazy
      lazy-load-on-drag
      :slide-ratio="850/1280"  
      :dragging-distance="50" autoplay>
        <vueper-slide 
          v-for="(slide, i) in slides"
          :key="i "
          :image="slide.image"
          :link="slide.imageUrl"
        />
      </vueper-slides>  
  </div>
  <!-- slide -->
</template>

<script>
import { VueperSlides, VueperSlide } from "vueperslides";
import "vueperslides/dist/vueperslides.css";
import SlideService from './../SlideService';
import _ from 'lodash'
export default {
  components: { VueperSlides, VueperSlide },
  data() {
    return {
      slides: [],
      text:'',
      image:'',
    }
  },
    async created() {
    try {
      this.slides = await SlideService.getSlides();
      this.slides = _.orderBy(this.slides,'date','desc')
    } catch(err) {
      this.error = err
    }
  },
}
</script>

<style>
.slideLayout {
  margin: 0 auto;
  width:80%;
  height:80%;
}
.vueperslides__bullet--active {
  color: #e6e6e6;
}
</style>
