<template>
  <div class="mainContainer">
    <div class="mainContentContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <NavBar />
      <div class="slideContainer">
        <HomeSlide />
      </div>
      <div class="postList">
        <PostList />
      </div>
      <div class="bookList">
      <BookList />
      </div> 
      <h2 class="header">Blog</h2>
      <!-- first row -->
      <div class="row">
          <div class="col">
            <div class="block">
              <a href="https://ameblo.jp/asakuramomoblog">
                <img class="blogImage" src="https://trysail.jp/s3/skiyaki/uploads/link/image/2368/bnr_ameblo_momo.jpg" alt="Momo Asakura blog">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="block">
              <a href="https://ameblo.jp/amamiyasorablog">
                <img class="blogImage" src="https://trysail.jp/s3/skiyaki/uploads/link/image/2369/bnr_ameblo_sora.jpg" alt="Sora Amamiya blog">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="block">
              <a href="https://ameblo.jp/natsukawashiinablog">
                <img class="blogImage" src="https://trysail.jp/s3/skiyaki/uploads/link/image/2370/bnr_ameblo_shiina.jpg" alt="Shiina Natsukawa blog">
              </a>
            </div>
          </div>
      </div>
    </div>
      <!-- first row -->
    <div class="footerPosition"> 
      <Footer/>
    </div>
  </div>
</template>

<script>
import NavBar from "./NavBar";
import HomeSlide from "./HomeSlide";
import Footer from "./Footer";
import PostList from "./Post/PostList";
import BookList from "./Book/BookList";
export default {
  name: "App",
  components: {
    NavBar,
    HomeSlide,
    PostList,
    BookList,
    Footer,
  },
  data() {
    return {
      userType: '',
      Height: 0
    }
  },
  mounted() {
      this.userType = this.$cookies.get("userType")
      this.Height = document.documentElement.clientHeight-100;  
      window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  }
}
</script>

<style scoped>
.postList { 
  padding: 1% 10%;
}
.bookList {
  padding: 1% 10%;
}
.row{
  padding: 0 20%;
  text-align: center;
}

.col-md-6 {
  padding:8px;
}

.blogImage {
  width: 100%;
  height: 100%;
}
.footerPosition {
  margin-top: 1%;
}

@media only screen and (max-width: 1024px) {
  .row{
    padding: 0 10%;
  }
}

@media only screen and (max-width: 1024px) {
  .col{
    padding: 0;
  }
}

</style>
