<template>
<div>
  <b-navbar class="desktopNav" toggleable="lg" type="dark" variant="info">
    <b-navbar-brand href="#">MusicRain</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>
    <b-collapse id="nav-collapse" is-nav>
      <b-navbar-nav>
        <b-nav-item router-link to="/">Home</b-nav-item>
        <!-- Dashboard page button will show if user type is "admin" -->
         <b-nav-item v-show="adminFeature" router-link to="/DashboardList">Dashboard List</b-nav-item>
          <b-nav-item v-show="adminFeature" router-link to="/CreatePost">Create News</b-nav-item>
          <b-nav-item v-show="adminFeature" router-link to="/CreateBook">Create Book</b-nav-item>
          <b-nav-item v-show="adminFeature" router-link to="/CreateSlide">Create Slide</b-nav-item>
          <b-nav-item v-show="adminFeature" router-link to="/CreateArtist">Create Artist Data</b-nav-item>
         <b-nav-item router-link to="/AllArtistList">Artist List</b-nav-item>
      </b-navbar-nav>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-navbar-brand v-show="showUserName" >User name: {{ userName }}</b-navbar-brand>
        <b-nav-item router-link to="Register">Register</b-nav-item>
        <b-nav-item-dropdown right>
          <!-- Using 'button-content' slot -->
          <template #button-content>
            <em>User</em>
          </template>
          <b-dropdown-item v-show="loginStatus" router-link to="Login">Login</b-dropdown-item>
          <b-dropdown-item v-show="logoutStatus" @click="removeCookie">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
  <div class="mobileNav">
        <p class="mobileNavUserName" v-show="showUserName" >User name: {{ userName }}</p>
    <div id="mobileNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" @click="closeNav()">&times;</a>
        <div class="overlay-content">
          <b-navbar-nav>
            <b-nav-item router-link to="/">Home</b-nav-item>
            <!-- Dashboard page button will show if user type is "admin" -->
            <b-nav-item v-show="adminFeature" router-link to="/DashboardList">Dashboard List</b-nav-item>
            <b-nav-item v-show="adminFeature" router-link to="/CreatePost">Create News</b-nav-item>
            <b-nav-item v-show="adminFeature" router-link to="/CreateBook">Create Book</b-nav-item>
            <b-nav-item v-show="adminFeature" router-link to="/CreateSlide">Create Slide</b-nav-item>
            <b-nav-item v-show="adminFeature" router-link to="/CreateArtist">Create Artist Data</b-nav-item>
            <b-nav-item router-link to="/AllArtistList">Artist List</b-nav-item>
            <b-nav-item router-link to="Register">Register</b-nav-item>
            <b-nav-item v-show="loginStatus" router-link to="Login">Login</b-nav-item>
            <b-nav-item v-show="logoutStatus" @click="removeCookie">Logout</b-nav-item>
          </b-navbar-nav>
        </div>
    </div>
    <span class="navHeader" @click="openNav()">&#9776; Music Rain</span>
  </div>
  <router-view/>
</div>
</template>

<script>
export default {
   name: "NavBar",
   data() {
     return {
       adminFeature: false,
       showUserName: false,
       loginStatus: true,
       layoutStatus: false
     }
   },
   mounted() {
     if(this.$cookies.get("userType") == "admin") {
       this.adminFeature = true
     }
     if(this.$cookies.get("userName") || this.$cookies.get("userName") != null) {
        this.showUserName = true
        this.loginStatus = false
        this.logoutStatus = true
        this.userName = this.$cookies.get("userName")
     }
   },
   methods:{
     openNav() {
       document.getElementById("mobileNav").style.height = "100%";
     },
     closeNav() {
        document.getElementById("mobileNav").style.height = "0%";
     },
     removeCookie(){
       this.$cookies.remove("userType");
       this.$cookies.remove("userName");
       var currentUrl = window.location.toString()
       var lastPathSymbol = currentUrl.lastIndexOf('/');
       var lastPath = currentUrl.substring(lastPathSymbol + 1);
      if(lastPath == "") {
        this.$router.go(0);
      } else {
        this.$router.push('/')
      }
     }
   }
};
</script>

<style scoped>
.mobileNavUserName {
  position: absolute;
  line-height: 45px;
  right: 0px;
  color: #f1f1f1;
}
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 3;
  top: 0%;
  left: 0;
  background-color: #17a2b8;
  background-color: white;
  overflow-y: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: center;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #666666;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
} 
.desktopNav {
  display: flex;
}
.mobileNav {
  background-color: #17a2b8;
  display: none;
} 
.navHeader {
  color: white;
  font-size: 30px;
}

@media only screen and (max-width: 1024px) {
  .desktopNav {
    display: none;
  }
  .mobileNav {
    display: flex;
  }  
}
</style>