<template>
  <div>
    <div class="createFormContainer">
      <div class="form-group">
        <label for="create-post">Post Title</label>
        <input type="text" class="form-control" id="create-post" v-model="newPostText" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="create-post-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <small id="fileHelp" class="form-text text-muted">.JPG / .PNG Only</small>
        <img class="preview" :src="url">
      </div>
      <div v-show="progress">
        <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
        <progress id="progress" :value="uploadValue" max="100" ></progress>
      </div>
      <div class="submit">
        <b-button @click="createPost">Create Post</b-button>
      </div>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import PostService from '../PostService';

export default { 
  name: 'PostComponent',
  data() {
    return {
      posts: [],
      error: '',
      text: '',
      imageData: null,
      picture: null,
      uploadValue: 0,
      url : null,
      progress:false
    }
  },
  methods:{
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async createPost() {
      // upload image to firebase firestorage
      this.picture=null;
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // post method
        if(this.uploadValue == 100) {
          PostService.insertPost(this.newPostText, url)
          alert("upload post successful")
        // refresh data
          this.posts = PostService.getPosts()
          }
        });
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.container {
  max-width: 800px;
  margin: 0 auto;
}
.createFormContainer {
  margin:5%; 
}

p.error {
  border: 1px solid #ff5b5f;
  background-color: #ffc5c1;
  padding: 10px;
  margin-bottom: 15px;
}

div.post {
  position: relative;
  border: 1px solid #5bd658;
  background-color: #bcffb8;
  padding: 10px 10px 30px 10px;
  margin-bottom: 15px;
}

div.created-at {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15 px 5px 15px;
  background-color: darkgreen;
  color: white;
  font-size: 13px;
}

p.text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}

.preview{
    max-width: 300px;
    max-height: 100%;
}
</style>
