<template>
  <div class="loginContrainer">
    <NavBar/>
    <div class="loginFormContainer">
        <h1>Login Page</h1>
      <div class="form-group">
        <label for="create-book">Email</label>
        <input type="text" class="form-control" id="create-post" v-model="emailText" placeholder="name@email.com">
      </div>
      <div class="form-group">
        <label for="create-book">Psssword</label>
        <input type="password" class="form-control" id="create-post" v-model="passwordText" placeholder="Password">
      </div>
      <div class="submit">
        <b-button @click="login">Login</b-button>
        <br/>
        <p class="registerHints">If you do not have a account, please click register </p>
        <router-link to="/Register"><b-button>Register</b-button></router-link>
      </div>
    </div>
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import UserService from './../../UserService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default { 
  name: 'Login',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      books: [],
      error: '',
      emailText: '',
      passwordText:''
    }
  },
  methods:{
    async login() {
        UserService.login(this.emailText, this.passwordText)
    }  
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.loginFormContainer {
    padding-left: 20%;
    padding-right: 20%;
}
.footerPosition {
    width: 100%;
    height:100px;
    position: absolute;
    bottom:0px;
    left:0px;
}
.registerHints {
  color: #ff6666;
}
</style>