<template>
    <div class="registerPageContainer">
    <NavBar />
        <div class="registerFormContainer">
        <h1>Register Form</h1>
        <b-form-group
            id="fieldset-1"
            label="Enter your name"
            label-for="input-1"
            :invalid-feedback="invalidName"
            :valid-feedback="validName"
            :state="nameState">
            <b-form-input id="input-1" v-model="nameText" :state="null" trim></b-form-input>
        </b-form-group>
        <b-form-group
            id="fieldset-2"
            label="Enter your Email"
            label-for="input-2"
            :invalid-feedback="invalidEmail"
            :valid-feedback="validEmail"
            :state="emailState">
            <b-form-input id="input-2" v-model="emailText" :state="null" trim></b-form-input>
        </b-form-group>
        <b-form-group
            id="fieldset-3"
            label="Password"
            label-for="input-3"
            :invalid-feedback="invalidPassword"
            :state="passwordState">
            <input type="password" class="form-control" id="input-3" v-model="passwordText" :state="null" trim>
        </b-form-group>
        <b-form-group
            label="Repeat Password"
            label-for="input-4"
            :invalid-feedback="invalidRePassword"
            :valid-feedback="validRePassword"
            :state="rePasswordState">
            <input type="password" class="form-control" id="input-4" v-model="rePasswordText" :state="null" trim>
        </b-form-group>
        <div class="submitBtn">
          <b-button @click="createUser">Create User</b-button>
        </div>  
        </div>    
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>  
</template>

<script>
import NavBar from "./../NavBar";
import Footer from "./../Footer";
import UserService from "../../UserService"

export default {
  name: "Register",
  components: {
    NavBar,
    Footer,
  },
  computed: {
    nameState() {return this.nameText.length >= 4 ? true : false},
    invalidName() {return this.nameText.length > 0 ? 'Enter at least 4 characters' : ''},
    validName() {return this.nameState === true ? 'Matching requirement' : ''},

    emailState() {return this.emailText.includes('@') ? true : false},
    invalidEmail() {return !this.emailText.includes('@') && this.emailText.length > 0 ? 'Please input email with' + ' @ ' : ''},
    validEmail() {return this.emailState === true ? 'Matching requirement' : ''},

    rePasswordState() {return this.rePasswordText === this.passwordText && this.rePasswordText.length >= 6 && this.passwordText.length >= 6 ? true : false},
    invalidRePassword() {return this.rePasswordText !== this.passwordText || this.passwordText.length > 0 || this.rePasswordText.length > 0 ? 'password not match' : ''},
    validRePassword() {return this.rePasswordState === true ? 'Matching requirement' : ''},
  },
    data() {
      return {
        nameText: '',
        emailText:'',
        passwordText:'',
        rePasswordText:''
      }
    },
    methods: {
    async createUser() {
        // TODO: if nameText, emailText && passwordText's state == true 
        UserService.register(this.nameText, this.emailText, this.passwordText)
      }
    }
}
</script>

<style scoped>
.registerFormContainer {
    padding-left: 20%;
    padding-right: 20%;
}
.footerPosition {
    width: 100%;
    height:100px;
    position: absolute;
    bottom:0px;
    left:0px;
}
</style>