<template>
  <div class="layout">
    <NavBar/>
    <div class="artistPaginateContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <div class="artistListContainer ">
        <p v-if="error">{{ eror }}</p>
          <h1 class="header">Artists</h1>
          <div class="row">
            <div class="col-md-6 col-lg-4" v-for="(artist, index) in artists" :key="index">
              <router-link :to="{ name: 'ArtistDetail', params: { id: artist._id, name:artist.name, image: artist.image, dob: artist.dob, hobby: artist.hobby, album: artist.album, anime: artist.anime } }">
                <div class="block">
                  <img v-bind:src="artist.image" alt="artistProfileImage">
                  <h5 class="artistName">{{ artist.name }}</h5>
                </div>
              </router-link>  
            </div>
          </div> 
        </div> 
      </div> 
      <div class="footerPosition">
          <Footer/>
      </div>
</div>
</template>

<script>
import ArtistService from '../../ArtistService';
import NavBar from "./../NavBar";
import Footer from "./../Footer";
export default {
  name: 'AllArtistList',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      artists: [],
      paginate: ['paginate-log'],
      error: '',
      name: '',
      image: '',
      Height: 0
    }
  },
  async created() {
    try {
      this.artists = await ArtistService.getArtists();
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  }
}
</script>

<style scoped>
.artistListContainer {
   text-align: center;
}

.row{
  margin: 0 auto;
  text-align: center;
  max-width: 850px;
}
.col-lg-4{
  padding:8px;
}
.col-md-6{
  padding:8px;
}
.block {
  padding-top:2%;
}
.block img { 
  width: 250px;
  height: 250px;
}

.artistPaginateContainer {
  padding-left:10%;
  padding-right:10%;
}
.artistName {
  margin: 0;
}
</style>