<template>
  <div class="layout">
    <NavBar/>
    <div class="artistPaginateContainer">
      <div class="artistDetailContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
        <p v-if="error">{{ eror }}</p>
          <h1 class="header">Artist Detail</h1>
        <div class="row">
            <div class="col-lg-6">
               <div class="block">
                  <img v-bind:src="artists.image" alt="artistProfileImage">
                </div>
            </div>
            <div class="col-lg-6 detail">
              <div class="block">
                <h3>{{artists.name}}</h3>
                <div v-show="showDob">
                  <p>Date of Birth: {{artists.dob}}</p>
                </div>  
                <p v-show="showHobby">hobby: {{artists.hobby}}</p>
                <h5>Album</h5>
                <p class="artistAlbum" >{{artists.album}}</p>
                <h5>Anime/ Video</h5>
                <p class="artistAnime">{{artists.anime}}</p>
                </div>
            </div>        
        </div>
        </div>
      </div> 
    <div class="footerPosition">
      <Footer/>
    </div>
</div>
</template>

<script>
import NavBar from "./../NavBar";
import Footer from "./../Footer";
import ArtistService from '../../ArtistService';
export default {
  name: 'ArtistDetail',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      artists:{},
      showDob: true,
      showHobby: true
     }
  },
  async created() {
    var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    try {
      this.artists = ArtistService.getArtistsById(idPath).then(response => { 
        this.artists = response.data
        if(response.data.dob == null || response.data.dob == "") {
            this.showDob = false
          }
        if(response.data.hobby == null || response.data.hobby == "") {
          this.showHobby = false
          }  
        } 
      )
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  }
}
</script>

<style scoped>
.artistDetailContainer {
   text-align: center;
}
.row{
  margin: 0 auto;
  text-align: center;
}

.col-lg-6{
  padding:8px;
}
.detail{
  padding:8px;
  text-align: left;
}
.block {
  padding:2% 0;
}
.block img { 
  width: 100%;
  height: 100%;
}

.artistPaginateContainer {
  padding-left:10%;
  padding-right:10%;
}
.artistName {
  margin: 0;
}
.artistAlbum {
   white-space: pre;
}
.artistAnime {
   white-space: pre;
}

.artistPaginateContainer {
}
</style>