<template>
    <div class="layout">
        <NavBar/>
        <div class="dashboardContainer">
            <h1 class="header">Artist Dashboard</h1>
              <p v-if="error">{{ eror }}</p>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Profile Image</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
            <tbody>
              <tr v-for="(artist, index) in artists" :key="index">
                <th scope="row">{{artist.name}}</th>
                <td><img v-bind:src="artist.image" style="width:50px; height:50px;" alt="postImage"></td>
                <td>
                  <router-link :to="{ name: 'EditArtist', params: { id: artist._id, name: artist.name, image: artist.image , dob: artist.dob, hobby: artist.hobby, album: artist.album, anime: artist.anime} }">
                    <b-button class="btn-warning btn-sm mx-2">Edit</b-button></router-link>
                  <b-button class="btn-danger btn-sm mx-2" v-on:click="deleteArtist(artist._id)">Delete</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      <div class="footerPosition">
        <Footer/>
      </div>
    </div>    
</template>

<script>
import ArtistService from './../../ArtistService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: 'ArtistDashboard',
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      artists: [],
      error: '',
      name: '',
      image: ''
    }
  },
  async created() {
    try {
      this.artists = await ArtistService.getArtists();
    } catch(err) {
      this.error = err
    }
  },
  methods: {
    async updateArtist(id) {
      await ArtistService.updateArtist(id, this.updatePostText)
      this.artists = await ArtistService.getArtists()
    },
    async deleteArtist(id) {
      await ArtistService.deleteArtist(id)
      this.artists = await ArtistService.getArtists()
    }
  }
}
</script>

<style scoped>
.dashboardContainer {
  padding-left:20%;
  padding-right:20%;
}
.footerPosition {
    width: 100%;
    height:100px;
    position: absolute;  
    bottom:0px;
    left:0px;
}

@media only screen and (max-width: 1024px) {
.dashboardContainer {
  padding: 5%;
}
}
</style>
