<template>
  <div class ="createArtistContrainer">
    <NavBar/>
    <div class="createFormContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
        <h1 class="header">Create Artist's Data</h1>
      <div class="form-group">
        <label for="create-artist">Artist Name</label>
        <input type="text" class="form-control" id="create-artist-data" v-model="newArtistText" placeholder="Artist's Full Name">
      </div>
      <div class="form-group">
        <label for="create-artist-image">Artist Profile Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <small id="fileHelp" class="form-text text-muted">.JPG / .PNG Only</small>
        <img class="preview" :src="url">
      </div>
        <!-- dob -->
      <div class="form-group">
        <label for="create-artist">Date of birth</label>
        <input type="text" class="form-control" id="create-artist" v-model="dob" placeholder="YYYY-MM-DD">
      </div>
      <!-- hobby -->
      <div class="form-group">
        <label for="create-artist">Hobby</label>
        <input type="text" class="form-control" id="create-artist" v-model="hobby" placeholder="Hobby">
      </div>
      <!-- album -->
      <div class="form-group">
        <label for="edit-artist-album">Album List</label>
        <b-form-textarea
          id="album-textarea"
          v-model="album"
          placeholder="Album name list"
          rows="3"
          max-rows="6">
        </b-form-textarea>
      </div>  
      <!-- anime -->
      <div class="form-group">
        <label for="edit-artist-anime">Anime/Video List</label>
        <b-form-textarea
          id="anime-textarea"
          v-model="anime"
          placeholder="Anime/Viedo name list"
          rows="3"
          max-rows="6">
        </b-form-textarea>
      </div> 
      <div v-show="progress">
        <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
        <progress id="progress" :value="uploadValue" max="100" ></progress>
      </div>
      <div class="submit">
        <b-button @click="createArtist">Create Artist Data</b-button>
      </div>
    </div>
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import ArtistService from './../../ArtistService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default { 
  name: 'CreateArtist',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      artists: [],
      error: '',
      text: '',
      imageData: null,
      picture: null,
      uploadValue: 0,
      url : null,
      progress:false,
      Height: 0
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods:{
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async createArtist() {
      // upload image to firebase firestorage
      this.picture=null;
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // post method
        if(this.uploadValue == 100) {
          ArtistService.insertArtist(this.newArtistText, url, this.dob, this.hobby, this.album, this.anime)
          alert("upload new artist's data successful")
          this.$router.push('/')
          }
        });
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.createFormContainer  {
  padding: 0 10%;
}  
p.text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}

.preview{
  max-width: 300px;
  max-height: 100%;
}

@media only screen and (max-width: 1024px) {
} 
</style>