<template>
  <div class="editArtistContainer">
    <NavBar/>
    <!-- Edit Artist Form -->
    <div class="editFormContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <h1 class="header">Edit Artist's Data Form</h1>
      <!-- form -->
      <!-- name -->
      <div class="form-group">
        <label for="create-artist">Artist Name</label>
        <input type="text" class="form-control" id="create-artist" v-model="artist.name" placeholder="Artist Name">
      </div>
      <!-- image -->
      <div class="upload-image">
        <label for="create-artist-image">Profile Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <!-- Display default / edit profile image logic -->
        <div v-show="defaultImage">
          <img class="preview" v-bind:src="artist.image" alt="profileImage"/>
        </div>
        <div v-show="editImage">
          <img class="preview" v-bind:src="url" alt="profileImage"/>
        </div>
        <!-- dob -->
        <div class="form-group">
          <label for="create-artist">Date of birth</label>
          <input type="text" class="form-control" id="create-artist" v-model="artist.dob" placeholder="YYYY-MM-DD">
        </div>
        <!-- hobby -->
        <div class="form-group">
          <label for="create-artist">Hobby</label>
          <input type="text" class="form-control" id="create-artist" v-model="artist.hobby" placeholder="Hobby">
        </div>
        <!-- album -->
        <div class="form-group">
          <label for="edit-artist-album">Album List</label>
          <b-form-textarea
            id="album-textarea"
            v-model="artist.album"
            placeholder="Album name list"
            rows="3"
            max-rows="6">
          </b-form-textarea>
        </div>  
        <!-- anime -->
        <div class="form-group">
          <label for="edit-artist-anime">Anime List</label>
          <b-form-textarea
            id="anime-textarea"
            v-model="artist.anime"
            placeholder="Anime name list"
            rows="3"
            max-rows="6">
          </b-form-textarea>
        </div>  
        <!-- Display default / edit profile image -->
        <!-- Progressing bar -->
        <div v-show="progress">
          <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
          <progress id="progress" :value="uploadValue" max="100" ></progress>
        </div>
        <!-- Progressing bar -->
      </div>
      <!-- submit area -->
      <div class="submit">
        <b-button v-on:click="updateArtist(id)">Update</b-button>
      </div>
      <!-- submit area -->
    </div>
    <!-- Edit Artist Form -->
    <Footer/>
  </div>
</template>

<script>
import ArtistService from "./../../ArtistService";
import firebase from 'firebase';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: "EditArtist",
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      id:0,
      artist:{},
      imageData: null,
      picture: null,
      uploadValue: 0,
      url: null,
      defaultImage: true,
      editImage:false,
      progress:false,
      Height: 0
    };
  },
  created() {
    var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    this.id = idPath
    try {
      this.artist = ArtistService.getArtistsById(idPath).then(response => { 
        this.artist = response.data
        } 
      )
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods: {
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
      // if image not changed -> display the default one
      // else replace it
      if(this.url !=null) {
        this.defaultImage= false
        this.editImage=true
      }
    },
    async updateArtist(id) {
      this.picture=null;
      this.progress = true
      // if upload name only
      if(this.url== null) {
        this.uploadValue=100;
        ArtistService.updateArtist(id, this.artist.name, this.artist.image, this.artist.dob, this.artist.hobby, this.artist.album, this.artist.anime);
        setTimeout(function(){
          alert("Update Artist's profile data successful"); 
        }, 1000);
      }
      // if upload a new image for replacing an old one
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // set the alert display after uploading image to firebase successful
        if(this.uploadValue == 100) {
          ArtistService.updateArtist(id, this.artist.name, url, this.artist.dob, this.artist.hobby, this.artist.album, this.artist.anime);
          alert("Update Artist's profile data successful")
          this.$router.push('/ArtistDashboard')
          }
        });
      });
    }
  }
}
</script>

<style scoped>
.editFormContainer {
  padding: 0 10%;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}	

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.preview{
    max-width: 300px;
    max-height: 400px;
}
@media only screen and (max-width: 1024px) {
.editFormContainer {
  padding: 5%;
}
}
</style>