<template>
  <div class="layout">
    <NavBar/>
    <div class="postPaginateContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <div class="postListContainer">
      <p v-if="error">{{ eror }}</p>
          <h1 class="header">News</h1>
        <paginate class="" name="paginate-log" :list="posts" :per="10">
            <div class="title" v-for="(post, index) in paginated('paginate-log')" :key="index">
              <router-link :to="{ name: 'PostDetail', params: { id: post._id }}">
                <p class="postTitle">{{ post.title }}</p>
              </router-link>
              <p class="artistAndDate">{{ post.artist }} / udpate: {{`${post.date.getDate()}-${post.date.getMonth()+1}-${post.date.getFullYear()}`}}</p>
            </div>  
          </paginate>
         </div>  
        <div class="paginate-link">
            <paginate-links for="paginate-log" class="pagination" :show-step-links="true" :limit="10"></paginate-links>
        </div>
      </div> 
      <!-- set 123...5 / 12345 style-->
      <div class="footerPosition">
    <Footer/>
    </div>
</div>
</template>

<script>
import PostService from './../../PostService';
import NavBar from './../NavBar'
import Footer from './../Footer'
import _ from 'lodash'
export default {
  name: 'PostList',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      posts: [],
      paginate: ['paginate-log'],
      error: '',
      Height: 0
    }
  },
  async created() {
    try {
      this.posts = await PostService.getPosts();
      this.posts = _.orderBy(this.posts,'date','desc')
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  }
}
</script>

<style scoped>
ul {
  padding: 0;
}
.postPaginateContainer {
  padding-left:20%;
  padding-right:20%;
}
.postListContainer {
    margin-bottom:0px;
    height: 100%; 
}
.title {
  border-bottom-style: dotted;
  border-width: thin; 
  text-align: left;
  font-size: 15px;
}

.postTitle {
  margin: 0;
  color: #737373;
  font-weight: bold;
}
.artistAndDate {
  margin: 0;
}
.pagination a {
  color: black;
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

.pagination .active a{
  background-color: #b3ecff;
  color: white;
  border: 1px solid #b3ecff;
}

@media only screen and (max-width: 500px) {
  .postPaginateContainer {
    padding: 5%
  }
}

</style>
