<template>
  <div class ="createPostContrainer">
    <NavBar/>
    <div class="createFormContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
        <h1 class="header">Create News</h1>
      <div class="form-group">
        <label for="create-post">News Title</label>
        <input type="text" class="form-control" id="create-post" v-model="title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="create-book-artist">Artist</label>
          <v-select :options="options" v-model="artist"></v-select>
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <b-form-textarea
          id="content-textarea"
          v-model="content"
          placeholder="News's content"
          rows="3"
          max-rows="6">
        </b-form-textarea>
      </div> 
      <div class="form-group">
        <label for="create-post-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <small id="fileHelp" class="form-text text-muted">.JPG / .PNG Only</small>
        <img class="preview" :src="url">
      </div>
      <div v-show="progress">
        <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
        <progress id="progress" :value="uploadValue" max="100" ></progress>
      </div>
      <div class="submit">
        <b-button @click="createPost">Create News</b-button>
      </div>
    </div>
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import PostService from './../../PostService';
import ArtistService from './../../ArtistService';
import NavBar from './../NavBar'
import Footer from './../Footer'
import "vue-select/dist/vue-select.css";

export default { 
  name: 'CreatePost',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      posts: [],
      error: '',
      imageData: null,
      picture: null,
      uploadValue: 0,
      url : null,
      progress:false,
      options:[],
      Height: 0
    }
  },
  async created() {
    try {
      this.artists = await ArtistService.getArtists();
      var artistList = []
      for (var i = 0; i < this.artists.length; i++) {
        artistList.push(this.artists[i].name)
      }
      this.options = artistList
      console.log("artist name", artistList)
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods:{
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async createPost() {
      // upload image to firebase firestorage
      this.picture=null;
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // post method
        if(this.uploadValue == 100) {
          PostService.insertPost(this.title, this.content, this.artist, url)
          alert("upload post successful")
        // refresh data
          this.$router.push('/postDashboard')
          }
        });
      });
    }
  }
}
</script>

<style scoped>
.createFormContainer {
  padding: 0 10%;
}
.preview{
    max-width: 300px;
    max-height: 200px;
}
</style>