<template>
  <div class="editPostContainer">
    <NavBar/>
    <!-- Edit Post Form -->
    <div class="editFormContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <h1 class="header" >Edit News Form</h1>
      <div class="form-group">
        <label for="create-post">Post Title</label>
        <input type="text" class="form-control" id="create-post" v-model="post.title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="create-book-artist">Artist</label>
          <v-select :options="options" v-model="post.artist"></v-select>
      </div>
      <div class="form-group">
        <label for="post-content">Content</label>
        <b-form-textarea
          id="content-textarea"
          v-model="post.content"
          placeholder="Post's content"
          rows="3"
          max-rows="6">
        </b-form-textarea>
      </div>
      <div class="upload-image">
        <label for="create-post-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <!-- Display default / edit image logic -->
        <div v-show="defaultImage">
          <img class="preview" v-bind:src="post.image" alt="postImage"/>
        </div>
        <div v-show="editImage">
          <img class="preview" v-bind:src="url" alt="postImage"/>
        </div>
        <!-- Display default / edit image logic -->
        <!-- Progressing bar -->
        <div v-show="progress">
          <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
          <progress id="progress" :value="uploadValue" max="100" ></progress>
        </div>
        <!-- Progressing bar -->
      </div>
      <!-- submit area -->
      <div class="submit">
        <b-button v-on:click="updatePost(id)">Update</b-button>
      </div>
      <!-- submit area -->
    </div>
    <!-- Edit Post Form -->
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import router from "../../router";
import PostService from "./../../PostService";
import ArtistService from './../../ArtistService';
import firebase from 'firebase';
import NavBar from './../NavBar'
import Footer from './../Footer'
import "vue-select/dist/vue-select.css";

export default {
  name: "EditPost",
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      id: 0,
      post:{},
      imageData: null,
      picture: null,
      uploadValue: 0,
      url: null,
      defaultImage: true,
      editImage:false,
      progress:false,
      options:[],
      Height:0
    };
  },
  async created() {
    // get artist name from artist's database
    try {
      this.artists = await ArtistService.getArtists();
      var artistList = []
      for (var i = 0; i < this.artists.length; i++) {
        artistList.push(this.artists[i].name)
      }
      this.options = artistList
      console.log("artist name", artistList)
    } catch(err) {
      this.error = err
    }
    // image Path
    var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    this.id = idPath
    try {
      this.post = PostService.getPostById(idPath).then(response => { 
        this.post = response.data
        } 
      )
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods: {
    navigate() {
      router.go(-1);
    },
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
      // if image not changed -> display the default one
      // else replace it
      if(this.url !=null) {
        this.defaultImage= false
        this.editImage=true
      }
    },
    async updatePost(id) {
      this.picture=null;
      this.progress = true
      // if upload post title only
      // TODO: add artists
      if(this.url== null) {
        this.uploadValue=100;
        PostService.updatePost(id, this.post.title, this.post.content, this.post.artist, this.post.image);
        setTimeout(function(){
          alert("upload Post's data successful!"); 
        }, 1000);
      }
      // if upload a new image for replacing an old one
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // set the alert display after uploading image to firebase successful
        if(this.uploadValue == 100) {
          PostService.updatePost(id, this.post.title, this.post.content, this.post.artist, url);
          alert("update Post's data successful")
        // refresh data
          this.$router.push('/postDashboard')
          }
        });
      });
    }
  }
}
</script>

<style scoped>
.editFormContainer {
  padding: 0 10%;
}

.preview{
    max-width: 300px;
    max-height: 200px;
}
</style>

