<template>
  <div class="layout">
    <NavBar />
    <div class="postDetailContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <div v-show="postVisible" class="showPost">
        <h1 class="header">News Detail</h1>
        <h2>{{ post.title }}</h2>
        <p class="postContent">{{ post.content }}</p>
        <div class="imageContainer">
          <img class="postDetailImage" v-bind:src="post.image" alt="postImage">
        </div>
      </div>
      <div v-show="loginRequest" class="showLoginRequestMessage">
          <h1 class="header">This page is members only</h1>
          <p><router-link to="/Login">Login</router-link></p>
      </div>
    </div>  
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import NavBar from "./../NavBar";
import Footer from "./../Footer";
import PostService from '../../PostService'

export default {
  name: "PostDetail",
  components: {
    NavBar,
    Footer,
  },
  data() {
    return {
      postVisible: false,
      loginRequest: true,
      post:{},
      Height: 0
    };
  },
  mounted() {
    console.log("userType = " + this.$cookies.get("userType"))
    if(this.$cookies.get("userType") == "admin" || this.$cookies.get("userType") == "user"){
    this.postVisible = true
    this.loginRequest = false
    }
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  created() {
   var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    try {
      this.post = PostService.getPostById(idPath).then(response => { 
        this.post = response.data
        } 
      )
    } catch(err) {
      this.error = err
    }
  },
};
</script>

<style scoped>
.postContent {
  white-space: pre-wrap;
}
.postDetailContainer {
  padding-left: 20%;
  padding-right: 20%;
}
.postDetailImage {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1024px) {
  .postDetailContainer {
    padding: 0;
  }
}
</style>
