<template>
<div class="layout">
  <div class="postListContainer">
    <p v-if="error">{{ eror }}</p>
      <h2 class="header">WHAT'S NEWS <span> -Member's-</span></h2>
    <!-- Fetch Post Data -->
    <div class="title" v-for="(post, index) in posts.slice(0,5)" :key="index">
        <router-link :to="{ name: 'PostDetail', params: { id: post._id} }">
        <p class="postTitle">{{ post.title }}</p>
        </router-link>
        <p class="artistAndDate">{{ post.artist }} / udpate: {{`${post.date.getDate()}-${post.date.getMonth()+1}-${post.date.getFullYear()}`}}</p>
    </div>  
      <div class="fetchAllPost">
       <router-link to="/AllPostList">
        <b-button variant="outline-primary" class='whatever-you-want'>All</b-button>
       </router-link>
      </div>
    <!-- Fetch Post Data -->
  </div>
</div>
</template>

<script>
import PostService from './../../PostService';
import _ from 'lodash'
export default { 
  name: 'PostList',
  data() {
    return {
      posts: [],
      error: '',
      title: '',
      image: ''
    }
  },
  async created() {
    try {
      this.posts = await PostService.getPosts();
      this.posts = _.orderBy(this.posts,'date','desc')
    } catch(err) {
      this.error = err
    }
  },
}
</script>

<style>
h2 span {
  font-size: 25px;
}
.title {
  border-bottom-style: dotted;
  border-width: thin; 
  text-align: left;
  font-size: 15px;
}
.postTitle {
  margin: 0;
  color: #737373;
  font-weight: bold;
}
.artistAndDate {
  margin: 0;
}
.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

.pagination .active a{
  background-color: #b3ecff;
  color: white;
  border: 1px solid #b3ecff;
}
.fetchAllPost {
  margin-top: 10px;
  text-align: right;
}
</style>

