<template>
<div class="layout">
  <NavBar/>
  <div class="dashboardContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
    <h1 class="header">News Dashboard</h1>
    <p v-if="error">{{ eror }}</p>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
      <tr v-for="(post, index) in posts" :key="index">
        <th scope="row">{{post.title}}</th>
        <td><img v-bind:src="post.image" style="width:50px; height:50px;" alt="postImage"></td>
        <td>{{`${post.date.getDate()}-${post.date.getMonth()+1}-${post.date.getFullYear()} 
          ${post.date.getHours()}:${post.date.getMinutes()}:${post.date.getSeconds()}` }}</td>
        <td>
          <router-link :to="{ name: 'EditPost', params: { id: post._id, title: post.title, image: post.image } }">
            <b-button class="btn-warning btn-sm mx-2">Edit</b-button></router-link>
          <b-button class="btn-danger btn-sm mx-2" v-on:click="deletePost(post._id)" >Delete</b-button>
        </td>
      </tr>
    </tbody>
   </table>
  </div>
  <div class="footerPosition">
    <Footer/>
  </div>
</div>
</template>

<script>
import PostService from './../../PostService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: 'PostComponent',
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      posts: [],
      error: '',
      title: '',
      image: '',
      Height: 0
    }
  },
  async created() {
    try {
      this.posts = await PostService.getPosts();
    } catch(err) {
      this.error = err
    }
  },
  methods: {
    async deletePost(id) {
      await PostService.deletePost(id)
      this.posts = await PostService.getPosts()
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
}
</script>

<style scoped>
.dashboardContainer {
  padding-left:20%;
  padding-right:20%;
}


@media screen and (max-width: 768px) {
  .dashboardContainer {
    padding:0;

  }
}
</style>

