<template>
  <div class ="createSlideContrainer">
    <NavBar/>
    <div class="createFormContainer">
        <h1 class="header">Create Slide</h1>
      <div class="form-group">
        <label for="create-slide">Slide Title</label>
        <input type="text" class="form-control" id="create-slide" v-model="newSlideText" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="create-slide">Slide Url</label>
        <input type="text" class="form-control" id="create-slide" v-model="imageUrl" placeholder="News Link">
      </div>
      <div class="form-group">
        <label for="create-slide-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <small id="fileHelp" class="form-text text-muted">.JPG / .PNG Only</small>
        <img class="preview" :src="url">
      </div>
      <div v-show="progress">
        <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
        <progress id="progress" :value="uploadValue" max="100" ></progress>
      </div>
      <div class="submit">
        <b-button @click="createSlide">Create Slide</b-button>
      </div>
    </div>
    <div class="footerPosition">
          <Footer/>
    </div>
  </div>
</template>

<script>
import firebase from 'firebase';
import SlideService from './../../SlideService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default { 
  name: 'SlideComponent',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      slides: [],
      error: '',
      text: '',
      imageData: null,
      picture: null,
      uploadValue: 0,
      url : null,
      progress:false
    }
  },
  methods:{
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async createSlide() {
      // upload image to firebase firestorage
      this.picture=null;
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // slide method
        if(this.uploadValue == 100) {
          SlideService.insertSlide(this.newSlideText, url, this.imageUrl)
          alert("create a new slide successful")
          this.$router.push('/allArtistList')
          }
        });
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
div.container {
  max-width: 800px;
  margin: 0 auto;
}

.createFormContainer {
  padding-bottom: 10%;
  padding-left:20%;
  padding-right:20%;
}

p.error {
  border: 1px solid #ff5b5f;
  background-color: #ffc5c1;
  padding: 10px;
  margin-bottom: 15px;
}

div.post {
  position: relative;
  border: 1px solid #5bd658;
  background-color: #bcffb8;
  padding: 10px 10px 30px 10px;
  margin-bottom: 15px;
}

div.created-at {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15 px 5px 15px;
  background-color: darkgreen;
  color: white;
  font-size: 13px;
}

p.text {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 0;
}
.preview{
    max-width: 300px;
    max-height: 300px;
}

.footerPosition {
  width: 100%;
  height:100px;
  position: absolute;  
  bottom:0px;
  left:0px;
}
</style>