<template>
  <div class="editSlideContainer">
    <NavBar/>
    <!-- Edit Slide Form -->
    <div class="container">
      <h1 class="header">Edit Slide Form</h1>
      <div class="form-group">
        <label for="edit-slide">Slide Title</label>
        <input type="text" class="form-control" id="create-slide" v-model="slide.text" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="edit-slide">Slide Url</label>
        <input type="text" class="form-control" id="create-slide" v-model="slide.imageUrl" placeholder="News Link">
      </div>
      <div class="upload-image">
        <label for="edit-slide-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <!-- Display default / edit image logic -->
        <div v-show="defaultImage">
          <img class="preview" v-bind:src="slide.image" alt="slideImage"/>
        </div>
        <div v-show="editImage">
          <img class="preview" v-bind:src="url" alt="slideImage"/>
        </div>
        <!-- Display default / edit image logic -->
        <!-- Progressing bar -->
        <div v-show="progress">
          <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
          <progress id="progress" :value="uploadValue" max="100" ></progress>
        </div>
        <!-- Progressing bar -->
      </div>
      <!-- submit area -->
      <div class="submit">
        <b-button v-on:click="updateSlide(id)">Update</b-button>
      </div>
      <!-- submit area -->
    </div>
    <!-- Edit Slide Form -->
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import router from "../../router";
import SlideService from "./../../SlideService";
import firebase from 'firebase';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: "EditSlide",
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      id: 0,
      slide:{},
      imageData: null,
      picture: null,
      uploadValue: 0,
      url: null,
      defaultImage: true,
      editImage:false,
      progress:false
    };
  },
  async created() {
    var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    this.id = idPath
    try {
      this.slide = SlideService.getSlideById(idPath).then(response => { 
        this.slide = response.data
        } 
      )
    } catch(err) {
      this.error = err
    }
  },
  methods: {
    navigate() {
      router.go(-1);
    },
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
      // if image not changed -> display the default one
      // else replace it
      if(this.url !=null) {
        this.defaultImage= false
        this.editImage=true
      }
    },
    async updateSlide(id) {
      this.picture=null;
      this.progress = true
      // if upload slide title only
      // TODO: add artists
      if(this.url== null) {
        this.uploadValue=100;
        SlideService.updateSlide(id, this.slide.text, this.slide.image, this.slide.imageUrl);
        setTimeout(function(){
          alert("upload Slide's data successful!"); 
        }, 1000);
      }
      // if upload a new image for replacing an old one
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // set the alert display after uploading image to firebase successful
        if(this.uploadValue == 100) {
          SlideService.updateSlide(id, this.slide.text, url, this.slide.imageUrl);
          alert("update Slide's data successful")
          }
        });
      });
    }
  }
}
</script>

<style scoped>
.updateFormContainer {
  padding-Top: 10%;
  padding-bottom: 10%;
  padding-left:20%;
  padding-right:20%;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}	

li {
  display: inline-block;
}

a {
  color: #42b983;
}

.preview{
    max-width: 300px;
    max-height: 400px;
}

.footerPosition {
  width: 100%;
  height:100px;
  position: absolute;  
  bottom:0px;
  left:0px;
}

@media only screen and (max-width: 1024px) {
  .dashboardContainer {
      padding: 0;
  }
}
</style>