<template>
<div class="layout">
  <NavBar/>
  <div class="dashboardContainer">
    <h1 class="header">Slide Dashboard</h1>
    <p v-if="error">{{ eror }}</p>
  <table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Image</th>
      <th scope="col">Date</th>
      <th scope="col"></th>
    </tr>
  </thead>
    <tbody>
      <tr v-for="(slide, index) in slides" :key="index">
        <th scope="row">{{slide.text}}</th>
        <td><img v-bind:src="slide.image" style="width:50px; height:50px;" alt="slideImage"></td>
        <td>{{`${slide.date.getDate()}-${slide.date.getMonth()+1}-${slide.date.getFullYear()} 
          ${slide.date.getHours()}:${slide.date.getMinutes()}:${slide.date.getSeconds()}` }}</td>
        <td>
          <router-link :to="{ name: 'EditSlide', params: { id: slide._id, text: slide.text, image: slide.image } }">
            <b-button class="btn-warning btn-sm mx-2">Edit</b-button></router-link>
          <b-button class="btn-danger btn-sm mx-2" v-on:click="deleteSlide(slide._id)" >Delete</b-button>
        </td>
      </tr>
    </tbody>
   </table>
  </div>
  <div class="footerPosition">
    <Footer/>
  </div>
</div>
</template>

<script>
import SlideService from './../../SlideService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: 'SlideDashboard',
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      slides: [],
      error: '',
      text: '',
      image: ''
    }
  },
  async created() {
    try {
      this.slides = await SlideService.getSlides();
    } catch(err) {
      this.error = err
    }
  },
  methods: {
    async deleteSlide(id) {
      await SlideService.deleteSlide(id)
      this.slides = await SlideService.getSlides()
    }
  }
}
</script>

<style scoped>
.dashboardContainer {
  padding-left:20%;
  padding-right:20%;
}
.footerPosition {
  width: 100%;
  height:100px;
  position: absolute;  
  bottom:0px;
  left:0px;
}

@media only screen and (max-width: 1024px) {
  .dashboardContainer {
      padding: 0;
  }
}
</style>