<template>
  <div class="layout">
    <NavBar/>
    <div class="bookPaginateContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <div class="bookListContainer">
      <p v-if="error">{{ eror }}</p>
        <h1 class="header">Books</h1>
        <paginate class="" name="paginate-log" :list="books" :per="10">
          <div class="title" v-for="(book, index) in paginated('paginate-log')" :key="index">
            <router-link :to="{ name: 'BookDetail', params: { id: book._id, title: book.title, artist: book.artist, price: book.price, image: book.image }}">
            <p class="bookTitle">{{ book.title }}</p>
            </router-link>
            <p class="artistAndDate">{{ book.artist }} / udpate: {{`${book.date.getDate()}-${book.date.getMonth()+1}-${book.date.getFullYear()}`}}</p>
            </div>
          </paginate>
         </div>  
        <div class="paginate-link">
          <paginate-links for="paginate-log" class="pagination" :show-step-links="true" :limit="10"></paginate-links>
        </div>
      </div> 
      <!-- set 123...5 / 12345 style-->
    <div class="footerPosition">
      <Footer/>
    </div>
</div>
</template>

<script>
import BookService from './../../BookService';
import NavBar from "./../NavBar";
import Footer from "./../Footer";
import _ from 'lodash'
export default {
  name: 'BookList',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      books: [],
      paginate: ['paginate-log'],
      error: '',
      title: '',
      image: '',
      Height: 0
    }
  },
  async created() {
    try {
      this.books = await BookService.getBooks();
      this.books = _.orderBy(this.books,'date','desc')
    } catch(err) {
      this.error = err
    }
  },
   mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  }
}
</script>

<style scoped>
ul {
  padding: 0;
}

.bookPaginateContainer {
  padding-left:20%;
  padding-right:20%;
}

.bookListContainer {
    margin-bottom:0px;
    height: 100%; 
}

.title {
  border-bottom-style: dotted;
  border-width: thin; 
  text-align: left;
  font-size: 15px;
}

.pagination a {
  color: black;
  float: left;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

.pagination .active a{
  background-color: #b3ecff;
  color: white;
  border: 1px solid #b3ecff;
}

.footerPosition {
    width: 100%;
    height:100px;
    position: absolute;
    bottom:0px;
    left:0px;
}
@media only screen and (max-width: 500px) {
  .bookPaginateContainer {
    padding: 5%
  }
}
</style>