<template>
    <div class="layout">
        <NavBar/>
        <div class="dashboardContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
            <h1 class="header">Book Dashboard</h1>
              <p v-if="error">{{ eror }}</p>
          <table class="table">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Image</th>
              <th scope="col">Date</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
            <tbody>
              <tr v-for="(book, index) in books" :key="index">
                <th scope="row">{{book.title}}</th>
                <td><img v-bind:src="book.image" style="width:50px; height:50px;" alt="bookImage"></td>
                <td>{{`${book.date.getDate()}-${book.date.getMonth()+1}-${book.date.getFullYear()} 
                  ${book.date.getHours()}:${book.date.getMinutes()}:${book.date.getSeconds()}` }}</td>
                <td>
                  <router-link :to="{ name: 'EditBook', params: { id: book._id, title: book.title, artist: book.artist, price: book.price, image: book.image } }">
                    <b-button class="btn-warning btn-sm mx-2">Edit</b-button></router-link>
                  <b-button class="btn-danger btn-sm mx-2" v-on:click="deleteBook(book._id)" >Delete</b-button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="footerPosition">
          <Footer/>
        </div>
    </div>    
</template>

<script>
import BookService from './../../BookService';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: 'BookDashboard',
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      books: [],
      error: '',
      title: '',
      artist: '',
      price: '',
      image: '',
      Height: 0
    }
  },
  async created() {
    try {
      this.books = await BookService.getBooks();
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods: {
    async deleteBook(id) {
      await BookService.deleteBook(id)
      this.books = await BookService.getBooks()
    }
  }
}
</script>

<style scoped>
.dashboardContainer {
  /* margin-bottom:60px; */
  padding-left:20%;
  padding-right:20%;
}

@media only screen and (max-width: 1024px) {
.dashboardContainer {
  padding: 5%;
}
}
</style>
