<template>
  <div class="layout">
    <NavBar />
    <div class="bookDetailContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <!-- book detail layout -->
      <h1 class="header">Book Detail</h1>
        <div class="row">
          <div class="col-lg-6">
            <div class="block">
              <img v-bind:src="book.image" alt="postImage">
            </div>
          </div>
          <div class="col-lg-6 detail">
            <div class="block">
              <h5 class="customDetail">Book title: {{ book.title }}</h5>
              <h5 class="customDetail">Artist: {{ book.artist }}</h5>
              <h5 class="customDetail">JPY: {{ book.price }}</h5>
              <h5 class="customDetail" v-show="showCurrency">HKD: {{ hkdPrice }}</h5>
              <b-button class="customDetailButton" variant="outline-primary" v-show="showCurrencyButton" @click="multiCurrent">Display HKD</b-button>
            </div>
          </div>        
        </div>
    </div>
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import NavBar from "./../NavBar";
import Footer from "./../Footer";
import axios from 'axios';
import BookService from '../../BookService';
export default {
  name: "BookDetail",
  components: {
    NavBar,
    Footer,
  },
  data() {
    return {
      book:{},
      hkdPrice: '',
      showCurrency: false,
      showCurrencyButton: true,
      Height: 0
    };
  },
  async created() {
    this.hkdPrice = ""
    var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    try {
      this.book = BookService.getBooksById(idPath).then(response => { 
        this.book = response.data
        } 
      )
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
   methods: {
      multiCurrent() {
        this.hkdPrice = "Getting currency from API"
        this.showCurrency = true
        this.showCurrencyButton = false
        axios.get("https://api.hkma.gov.hk/public/market-data-and-statistics/monthly-statistical-bulletin/er-ir/er-eeri-daily")
        .then(response =>
        (this.hkdPrice = Math.round(response.data.result.records[0].jpy * parseFloat(this.book.price)) ),
        ).catch((err) => {
          err = "no currency data"
          this.hkdPrice = err;
        })
     }
   }
};
</script>

<style scoped>
.bookDetailContainer {
  text-align: center;
  padding-left:10%;
  padding-right:10%;
}
.row{
  margin: 0 auto;
  text-align: center;
}

.col-lg-6{
  padding:8px;
}
.detail{
  padding:8px;
  text-align: left;
}
.block {
  padding:2% 0;
}
.block img { 
  width: 100%;
  height: 100%;
}

.artistPaginateContainer {
  padding-left:10%;
  padding-right:10%;
}
@media screen and (max-width: 768px) {
  .customDetail {
    padding-left: 20%;
    padding-right: 20%;
  }
  .customDetailButton {
    margin-left: 20%;
    margin-right: 20%;
  }
}

@media screen and (max-width: 375px) {
  .customDetail {
    padding: 0;
  }
  .customDetailButton {
    margin: 0;
  }
}


</style>
