<template>
<div class="layout">
  <div class="bookListContainer">
    <p v-if="error">{{ eror }}</p>
      <h2 class="header">Books</h2>
    <!-- Fetch Book Data -->
      <div class="title" v-for="(book, index) in books.slice(0,5)" :key="index">
        <router-link :to="{ name: 'BookDetail', params: { id: book._id, title: book.title, artist: book.artist, price: book.price, image: book.image } }">
        <p class="bookTitle">{{ book.title }}</p>
        </router-link>
        <p class="artistAndDate">{{ book.artist }} / udpate: {{`${book.date.getDate()}-${book.date.getMonth()+1}-${book.date.getFullYear()}`}}</p>
      </div>
      <div class="fetchAllBook">
       <router-link to="/AllBookList">
        <b-button variant="outline-primary">All</b-button>
       </router-link>
      </div>
    <!-- Fetch Book Data -->
  </div>
</div>
</template>

<script>
import BookService from './../../BookService';
import _ from 'lodash'
export default {
  name: 'BookList',
  data() {
    return {
      books: [],
      error: '',
      title: '',
      artist: '',
      price: '',
      image: ''
    }
  },
  async created() {
    try {
      this.books = await BookService.getBooks();
      this.books = _.orderBy(this.books,'date','desc')
    } catch(err) {
      this.error = err
    }
  },
}
</script>

<style>
.title {
  border-bottom-style: dotted;
  border-width: thin; 
  text-align: left;
  font-size: 15px;
}

.bookTitle {
  margin: 0;
  color: #737373;
  font-weight: bold;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  font-size: 22px;
}

.pagination .active a{
  background-color: #b3ecff;
  color: white;
  border: 1px solid #b3ecff;
}
.fetchAllBook {
  margin-top: 10px;
  text-align: right;
}
</style>
