<template>
  <div class ="createBookContrainer">
    <NavBar/>
    <div class="createFormContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
        <h1 class="header">Create Book</h1>
      <div class="form-group">
        <label for="create-book">Book Title</label>
        <input type="text" class="form-control" id="create-book-tilte" v-model="bookTitleText" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="create-book-artist">Artist</label>
          <v-select :options="options" v-model="bookArtistText"></v-select>
      </div>
      <div class="form-group">
        <label for="create-book-price">Book Price</label>
        <input type="text" class="form-control" id="create-book-price" v-model="bookPriceText" placeholder="Price(JPY)">
      </div>
      <div class="form-group">
        <label for="create-book-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <small id="fileHelp" class="form-text text-muted">.JPG / .PNG Only</small>
        <img class="preview" :src="url">
      </div>
      <div v-show="progress">
        <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
        <progress id="progress" :value="uploadValue" max="100" ></progress>
      </div>
      <div class="submit">
        <b-button @click="createBook">Create Book</b-button>
      </div>
    </div>
    <div class="footerPosition">
      <Footer/>
    </div>
</div>
</template>

<script>
import firebase from 'firebase';
import BookService from './../../BookService';
import ArtistService from './../../ArtistService';
import NavBar from './../NavBar'
import Footer from './../Footer'
import "vue-select/dist/vue-select.css";
export default { 
  name: 'CreateBook',
  components: {
    NavBar,
    Footer
  },
  data() {
    return {
      books: [],
      error: '',
      imageData: null,
      picture: null,
      uploadValue: 0,
      url : null,
      progress:false,
      options:[],
      Height: 0
    }
  },
  async created() {
    try {
      this.artists = await ArtistService.getArtists();
      var artistList = []
      for (var i = 0; i < this.artists.length; i++) {
        artistList.push(this.artists[i].name)
      }
      this.options = artistList
      console.log("artist name", artistList)
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods:{
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
    },
    async createBook() {
      // upload image to firebase firestorage
      this.picture=null;
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // post method
        // TODO: add artist param to insertBook method
        if(this.uploadValue == 100) {
          BookService.insertBook(this.bookTitleText, this.bookArtistText, this.bookPriceText, url)
          alert("upload book successful")
          // refresh data
          this.$router.push('/bookDashboard')
          }
        });
      });
    }
  }
}
</script>

<style scoped>
.createFormContainer {
  padding: 0 10%;
}

.preview{
    max-width: 300px;
    max-height: 100%;
}
</style>