<template>
  <div class="editBookContainer">
    <NavBar/>
    <!-- Edit Book Form -->
    <div class="updateFormContainer" id="v-content" v-bind:style="{minHeight: Height+'px'}">
      <h1 class="header">Edit Book Form</h1>
      <div class="form-group">
        <label for="create-book">Book Title</label>
        <input type="text" class="form-control" id="create-book" v-model="book.title" placeholder="Title">
      </div>
      <!-- TODO: Add artist drop down list -->
      <div class="form-group">
        <label for="create-book-artist">Artist</label>
        <v-select :options="options" v-model="book.artist"></v-select>
      </div>
      <!-- TODO: Add price input text and currency -->
      <div class="form-group">
        <label for="create-book-price">Book Price</label>
        <input type="text" class="form-control" id="create-book-price" v-model="book.price" placeholder="Price(JPY)">
      </div>
      <div class="upload-image">
        <label for="create-book-image">Image</label>
        <br>
        <input type="file" @change="previewImage" accept="image/*" >
        <!-- Display default / edit image logic -->
        <div v-show="defaultImage">
          <img class="preview" v-bind:src="book.image" alt="bookImage"/>
        </div>
        <div v-show="editImage">
          <img class="preview" v-bind:src="url" alt="bookImage"/>
        </div>
        <!-- Display default / edit image logic -->
        <!-- Progressing bar -->
        <div v-show="progress">
          <p>Progress: {{uploadValue.toFixed()+"%"}}</p>
          <progress id="progress" :value="uploadValue" max="100" ></progress>
        </div>
        <!-- Progressing bar -->
      </div>
      <b-button v-on:click="updateBook(id)">Update</b-button>
    </div>
    <!-- Edit Book Form -->
    <div class="footerPosition">
      <Footer/>
    </div>
  </div>
</template>

<script>
import router from "../../router";
import BookService from "./../../BookService";
import ArtistService from './../../ArtistService';
import firebase from 'firebase';
import NavBar from './../NavBar'
import Footer from './../Footer'

export default {
  name: "EditBook",
    components: {
    NavBar,
    Footer
  },
  data() {
    return {
      id: 0,
      book:{},
      imageData: null,
      picture: null,
      uploadValue: 0,
      url: null,
      defaultImage: true,
      editImage:false,
      progress:false,
      options: '',
      Height: 0
    };
  },
  async created() {
    var currentUrl = window.location.toString();
    var lastPathSymbol = currentUrl.lastIndexOf('/');
    var idPath = currentUrl.substring(lastPathSymbol + 1);
    this.id = idPath
    try {
      this.book = BookService.getBooksById(idPath).then(response => { 
        this.book = response.data
        } 
      )
    } catch(err) {
      this.error = err
    }

    try {
      this.artists = await ArtistService.getArtists();
      var artistList = []
      for (var i = 0; i < this.artists.length; i++) {
        artistList.push(this.artists[i].name)
      }
      this.options = artistList
      console.log("artist name", artistList)
    } catch(err) {
      this.error = err
    }
  },
  mounted() {
    this.Height = document.documentElement.clientHeight-100;  
    window.onresize=()=> {this.Height = document.documentElement.clientHeight -100}
  },
  methods: {
    navigate() {
      router.go(-1);
    },
    previewImage(event) {
      this.uploadValue=0;
      this.picture=null;
      this.imageData = event.target.files[0];
      const file = event.target.files[0];
      this.url = URL.createObjectURL(file);
      // if image not changed -> display the default one
      // else replace it
      if(this.url !=null) {
        this.defaultImage= false
        this.editImage=true
      }
    },
    async updateBook(id) {
      this.picture=null;
      this.progress = true
      // if upload book title only
      // TODO: add artists
      if(this.url== null) {
        this.uploadValue=100;
        BookService.updateBook(id, this.book.title, this.book.artist, this.book.price, this.book.image);
        setTimeout(function(){
          alert("upload Book's data successful!"); 
        }, 1000);
      }
      // if upload a new image for replacing an old one
      const storageRef=firebase.storage().ref(`${this.imageData.name}`).put(this.imageData);
      storageRef.on(`state_changed`,snapshot=>{
      this.uploadValue = (snapshot.bytesTransferred/snapshot.totalBytes)*100;
      }, error=>{console.log(error.message)},
      ()=>{
        this.progress = true
        this.uploadValue=100;
        storageRef.snapshot.ref.getDownloadURL().then((url)=>{
        this.picture =url;
        // set the alert display after uploading image to firebase successful
        if(this.uploadValue == 100) {
          BookService.updateBook(id, this.book.title, this.book.artist, this.book.price, url);
          alert("update Book's data successful")
          // refresh data
          this.$router.push('/bookDashboard')
          }
        });
      });
    }
  }
}
</script>

<style scoped>
.updateFormContainer {
  padding: 0 10%;
}

h1,
h2 {
  font-weight: normal;
}

ul {
  list-style-type: none;
  padding: 0;
}	

li {
  display: inline-block;
  margin: 0 10px;
}

a {
  color: #42b983;
}

.preview{
    max-width: 300px;
    max-height: 300px;
}
</style>